<nav class="cover-navigation navigation--social">
  <ul class="navigation">

    <li class="navigation__item">
      <a href="http://fb.me/{{ site.author.facebook_username }}" title="{{ site.author.facebook_username }} on Facebook" target="_blank">
        <i class="icon icon-social-facebook"></i>
      </a>
    </li>
    <li class="navigation__item">
      <a href="https://www.instagram.com/{{ site.author.instagram_username }}" title="@{{ site.author.instagram_username }} on Instagram" target="_blank">
        <i class="icon icon-social-instagram"></i>
      </a>
    </li>
    <li class="navigation__item">
      <a href="https://itunes.apple.com/au/artist/the-spring-peaks/1207985216" title="Itunes" target="_blank">
        <i class="icon icon-social-apple"></i>
      </a>
    </li>
    <li class="navigation__item">
      <a href="https://open.spotify.com/artist/1jA6iIFjHxKweEOXiF9gCx" title="{{ site.author.spotify_username }} on Spotify" target="_blank">
        <i class="icon icon-social-spotify"></i>
      </a>
    </li>
    <li class="navigation__item">
      <a href="https://soundcloud.com/thespringpeaks" title="Soundcloud" target="_blank">
        <i class="icon icon-cloud"></i>
      </a>
    </li>
    <li class="navigation__item">
      <a href="mailto:{{ site.author.email }}" title="Email {{ site.author.email }}" target="_blank">
        <i class="icon icon-mail"></i>
      </a>
    </li>
    <li class="navigation__item">
      <a href="https://www.github.com/{{ site.author.github_username }}" title="{{ site.author.github_username }} on GitHub" target="_blank">
        <i class="icon icon-social-github"></i>
      </a>
    </li>

  </ul>
</nav>
