<div class="social">
  <ul>

    <li>
      <a href="http://fb.me/{{ site.author.facebook_username }}" title="Facebook" target="_blank">
        <i class="icon icon-social-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/{{ site.author.instagram_username }}" title="Instagram" target="_blank">
        <i class="icon icon-social-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/au/artist/the-spring-peaks/1207985216" title="Itunes" target="_blank">
        <i class="icon icon-social-apple"></i>
      </a>
    </li>
    <li>
      <a href="https://open.spotify.com/artist/1jA6iIFjHxKweEOXiF9gCx" title="Spotify" target="_blank">
        <i class="icon icon-social-spotify"></i>
      </a>
    </li>
    <li>
      <a href="https://soundcloud.com/thespringpeaks" title="Soundcloud" target="_blank">
        <i class="fab fa-soundcloud"></i>
      </a>
    </li>
    <li>
      <a href="mailto:{{ site.author.email }}" title="Email" target="_blank">
        <i class="icon icon-mail"></i>
      </a>
    </li>
    <li>
      <a href="https://www.github.com/{{ site.author.github_username }}" title="GitHub" target="_blank">
        <i class="icon icon-social-github"></i>
      </a>
    </li>

    <li>
      <a href="https://makee.bandcamp.com/album/the-spring-peaks" title="Bandcamp" target="_blank">
        <i class="fab fa-bandcamp"></i>
      </a>
    </li>

  </ul>
</div>
