@import 'https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto+Slab:300,400)';
// @import "animate";
@import "foundation-icons"; /* foundation icons */

body {
	margin: 0;	// padding: 0;
	height: 100%;
	font-family: "Raleway", sans-serif;
	font-size: 1em;
}

/*
.content-wrapper {
	z-index: 800;
	width: 60%;
	max-width: 800px;
	margin-left: 40%; }
*/
.content-wrapper__inner {
	// margin: 0 10%;
	// padding: 50px 0;
}

.avatar, .logo
{
	border-radius: 50%;
	border: 3px solid #FFF;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

.landing-image
{
	display: table;
	height: 100%;
	width: 100%;
	background-image: url(./images/rabbit.jpg);
	background-size: cover;
	background-position: center center;

	.landing-info
	{
		display: table-cell;
		text-align: center; vertical-align: middle;
		// text-shadow: 0 2px 2px rgba(0.0, 0.0, 0.0, 0.9);
		z-index: 800; position: relative;
	}

	.landing-overlay
	{
		display: block;
		position: absolute;
		z-index: 0;
		top: 0; right: 0; bottom: 0; left: 0;
		background-color: rgba(24, 81, 117, 0.61); // 0.7
	}
}

html
{
	height: 100%;
	&.default { background-color: rgba(24, 81, 117, 1.0); }
	&.landing { /* max-height: 100%; */ }
}

.header-image
{
	background-image: url(./images/rabbit.jpg);
	background-position: center top;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: rgba(24, 81, 117, 0.61);
  background-blend-mode: luminosity; // overlay darken lighten saturation
	height: 50%; width: 100%;

	// display: table;

	.header-info
	{
		z-index: 800; position: relative;
		text-align: center; // vertical-align: bottom;
	}

	.header-overlay
	{
		// background-color: rgba(24, 81, 117, 0.61);
		background-size: contain;
		// display: block;
		position: absolute;
		z-index: 0;
		height: 100%; width: 100%;
		top: 0; // right: 0; left: 0; bottom: 0;
	}
}

nav
{
	ul
	{
		li
		{
			display: inline-block;
			a
			{
				color: #ee42ed;
				text-decoration: none;
				&:hover { color: #bee736; }
			}
		}
	}
}

.social
{
	ul
	{
		li
		{
			display: inline-block;
			a { color: #36e7dc; &:hover { color: #bee736; } }
		}
	}

}
/*
.social {
	margin-left: 1.5em; }
	.navigation--social a {
		padding: 6px 8px 6px 9px; }
		.navigation--social a .icon {
			display: inline-block;
			font-size: 1.7em; }
*/

.footer {
	// display: block;
	// padding: 2em 0 0 0;
	// border-top: 2px solid #dddddd;
	font-size: .7em;
	color: #ebbc16;

}

.footer__copyright {
	display: block;
	margin-bottom: .7em; }

i {
	font-family: 'entypo';
	font-weight: normal;
	font-style: normal;
	font-size: 18px; }

.icon-social {
	font-family: 'entypo-social';
	font-size: 22px;
	display: block;
	position: relative; }

/*
a {
	text-decoration: none;
	color: #e25440; }
	a:hover {
		color: #f41dcb;
		-o-transition: .5s;
		-ms-transition: .5s;
		-moz-transition: .5s;
		-webkit-transition: .5s; }
*/

h1, h2, h3, h4, h5, h5
{
	margin-top: .8em;
	margin-bottom: .4em;
	font-family: "Roboto Slab", serif;
	font-weight: lighter;
	color: #333333;
	-webkit-font-smoothing: antialiased;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.1em; }
h5 { font-size: 1em; }

p {
	margin-bottom: 1.3em;
	line-height: 1.7em; }

strong { font-weight: bold; }
em { font-style: italic; }

ol { list-style-type: decimal; }
ul { list-style-type: disc; }

.post-comments {
	border-top: 1px solid #dddddd;
	padding: 60px 0; }

.post-meta {
	margin: 0 0 .4em 0;
	color: #c7c7c7; }

.post-meta__date {
	margin-right: .5em; }

.post-meta__tags {
	margin-left: .4em; }

.post-meta__author {
	margin-left: 1.5em; }

.post-meta__avatar {
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: 0 .3em -.4em 0;
	border: none;
	box-shadow: none; }

.post img {
	max-width: 100%;
	margin: 0 auto;
	border-radius: 3px;
	text-align: center; }
.post pre {
	width: 95%; }
.post hr {
	display: block;
	width: 30%;
	margin: 2em 0;
	border-top: 1px solid #dddddd; }

.post-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left; }
	.post-list li {
		margin: 0 0 2.2em 0; }
		.post-list li:last-child hr {
			display: none; }

.post-list__post-title {
	margin-top: 0;
	margin-bottom: .2em;
	font-size: 1.5em;
	line-height: 1.3em; }
	.post-list__post-title a {
		color: #333333; }
		.post-list__post-title a:hover {
			color: #b9301c; }

.post-list__meta {
	display: block;
	margin: .7em 0 0 0;
	font-size: .9em;
	color: #c7c7c7; }

.post-list__meta--date {
	margin-right: .5em;
	color: #c7c7c7; }

.post-list__meta--tags {
	margin-left: .5em; }

.post-list__divider {
	width: 30%;
	margin: 2.2em 0 2.1em 0;
	border-top: 1px solid #dddddd; }

.date, .time, .author, .tags
{
	font-size: .8em;
	color: #49c7ee;
}

.date a, .time a, .author a, .tags a { color: #666666; }
.date a:hover, .time a:hover, .author a:hover, .tags a:hover { color: #b9301c; }

.excerpt {
	margin: 0;
	font-size: .9em;
	color: #999999; }
