---
---
@import "uno";
@import "tables";

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.footer__copyright {
    margin: 0 20px 10px;
}

.user-image
{
    margin-bottom: 1.2em;
    position: relative;
    // width: 576px; height: 200px;
    width: 288px; height: 100px;
}
