---
layout: default
---
<div id="shows">  
  <ul class="post-list"> <!-- create the list of posts -->

    {% for post in site.tags.shows %} 
      <li>

        <a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

        <div>
          <time datetime="{{ post.date | date: '%Y-%m-%d %H:%M' }}" class="date">
            {{ post.date | date: "%-d %b %Y" }}
          </time>
        </div>

        <p class="excerpt">{{ post.excerpt | strip_html }}&hellip;</p>

        <hr>

      </li>
    {% endfor %}

  </ul>
</div>
